* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(#283747, #566677,#283747);
    font-family: Helvetica;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main{
    width: 22%;
    box-shadow: 2px 2px 14px 1px black;
    border: 2px solid black;
    border-radius: 5px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.main-header {
    text-align: center;
    background-color: #D3D3D3;
    padding-top: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

form {
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.input-control {
    padding-top: 20px;
}

input {
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

h3 {
    font-size: 22px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 20px;
}

p {
    padding: 25px;
}

p a {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

button {
    background: #6f23ff;
    border: none;
    width: 100%;
    color: white;
    padding: 28px;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button i {
    margin-left: 2px;
}

.password, .email {
    position: relative;
}

.fa-lock, .fa-envelope {
    position: absolute;
    top: 30px;
    left: 25px;
}

.fas, .far {
    color: lightgray;
}

.email input, .password input {
    text-indent: 70px;
}


@media screen and (max-width: 575px){
    .main {
        width: 80%;
    }

    .email input, .password input {
        text-indent: 32px;
    }
}

@media screen and (min-width: 768px) {
    .main{
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .main {
        width: 25%;
    }

    .email input, .password input {
        text-indent: 40px;
    }
}